#roman {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body {
  background-color: #E5DCC3;
}

h1, h2 {
  font-family: 'Inter', sans-serif;
  color: #403121;
  font-weight: lighter;
  letter-spacing: 2px;
}

p {
  font-family: 'Zen Antique', serif;
  color: #6C737E;
  line-height: 25px;
  text-align: justify;
  font-weight: lighter;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.align {
    text-align: center;
}

/* div {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
} */
.card-white {

  background-color: rgba(250, 250, 250, .8);
  border-radius: 6px;
  padding: 38px;
  /* padding-left: 30px; */
  margin: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  box-shadow: 3px 3px 5px rgba(10, 10, 10, .1);
}

.btn {
  background-color: #6C737E;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 7px;
  text-decoration: none;
  text-align: center;
  width: 70px;
}

footer {
  background-color: #AAA492;
  opacity: 0.85;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  /* padding-bottom: ; */
}

.fab {
  font-size: 30px;
  padding-right: 30px;
}

.inline li {
  display: inline;
}

@media (max-width: 960px) {
  .container {
    width: 800px;
  }
  .card-white {
    width: 400px;
  }

}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
  .card-white {
    width: 300px;
  }
  #roman {
    width: 150;
    height: 150;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
  .card-white {
    margin-right: 0;
    width: 250px;
  }
}
/* @media (max-width: 320px) {
  .container {
    width: 175px;
  }
  .card-white {
    width: 150px;
  }
} */
